html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    line-height: 1.2em;


}

#container {
    background-color: #E9EDEE
}

/* Head*/

#immagine {
    background-color: #22303F;

}

#logo-amazon {
    width: 8%;
    margin: 8px;
    margin-left: 30px;
    margin-bottom: 8px;
    padding-bottom: 0;
}

#fake-nav {
    background-color: #354858;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#paragrafo-nav {
    margin: 0;
    padding: 8px;
    margin-left: 25px;
    font-size: 15px;
}

/* MAIN */

#background-size-main {
    margin-left: 30px;
    margin-right: 30px;


}

#banda-orange {
    background-color: #F66500;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0.1px;
    padding-bottom: 0.1em;
    padding: 0.2px;
}

#scritta-banda {
    margin: 7px;
}

#background-primo-main {
    background-size: cover;
    background-image: url(../img/bg-image.png);
}

#paragrafo-main {
    color: #E8F3F1;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

#paragrafo-main h2 {
    padding-top: 30px;
    margin-bottom: 0;
}

#paragrafo-main p {
    padding-bottom: 30px;
    margin-top: 0;

}

#section-card {
    background-color: white;
    width: 100%;
    margin-top: 30px;
}

#paragrafo-card {
    padding: 2em;
    padding-top: 5px;
    padding-bottom: 0;
}

#section-immagini-card {
    text-align: center;
}

#immagini-card {
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;

}

.classe-immagine-card {
    border-radius: 20px;
    width: 250px;
    height: 280px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.classe-immagine-card2 {
    border-radius: 20px;
    width: 250px;
    height: 280px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#aside-immagini {
    margin-top: 2em;
    width: 100%;
    object-fit: cover;
    padding-bottom: 20px;
    text-align: center;
}

.sottoscritta-immagine-blocco {

    margin-top: 0;
    margin-bottom: 30px;
}

.sottoscritta-immagine-blocco2 {

    margin-top: 0;
}

.link {
    color: #0A5560;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

/* Footer*/

#nav-footer {
    background-color: #354858;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-footer-a {
    color: white;
}

#footer-logo {
    background-color: #22303F;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}